@import 'variables';

.header {
    text-align: center;
}

.columna-uno {
    background-color: #0d6efd;
    color: whitesmoke
}

img {
    flex: content;
}

.azul {
    color: #0d6efd;
}

.footer {
    text-align: center;
    background-color: #0d6efd;
    color: white;
    padding: 20px;
}